 <div class="container">
       <article>
        <div class="contents">
<h1>Rukundo Detail Screen </h1>
<p>Name: <%= @contacts.name %></p>
<p>Email: <%= @contacts.email %></p>
<p>Contents: <%= @contacts.content %></p>
</div>
        
    </article>
</div>
